@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* Do not change this class name! */
.chat-marker {
	font-family: "Press Start 2P", sans-serif;
	line-height: 1em;
	font-size: 1em;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0.5em;
	padding: 0.5em 1em;
	text-shadow: 3px 3px #3f3f3f;
}
